doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Измеритель скорости печати
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    script.
      function onImageError() {
        this.onerror = null;
        this.parentNode.children[0].srcset = this.parentNode.children[1].srcset = this.src;
      }
  body
    #app